// docs: https://uniapp.dcloud.io/collocation/uni-scss
// refs: https://github.com/ElemeFE/element/blob/dev/packages/theme-chalk/src/common/var.scss

/* 颜色变量 */

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-light:#757575;
$uni-text-color-white:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color-white:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色
$uni-bg-color-red: #ee0000;

/* 边框颜色 */
$uni-border-color:#e5e5e5;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-10: 20rpx;
$uni-font-size-11: 22rpx;
$uni-font-size-12: 24rpx;
$uni-font-size-13: 26rpx;
$uni-font-size-14: 28rpx;
$uni-font-size-15: 30rpx;
$uni-font-size-16: 32rpx;
$uni-font-size-18: 36rpx;
$uni-font-size-30: 60rpx;

/* 图片尺寸 */
$uni-img-size-base:52rpx;

/* Border Radius */
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-13: 26rpx;

/* 垂直间距 */
$uni-spacing-col-16: 32rpx;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度


/*******************淘集集自定义*******************/
$tjj-color: #FF6632;
